<div class="row">
  <div class="container closest_stats col-md-3">
    <%= render partial: "closest_stations" %>
  </div>
  <div class="col-md-9">
    <%= render partial: "map" %>
  </div>
</div>
<%= render partial: "facebook" %>
<%= render partial: "nav_bar" %>
