<div class='map' id='map'>
  <script>
  L.mapbox.accessToken = 'pk.eyJ1IjoiY2x1aHJpbmciLCJhIjoiNWF2Z1l6ZyJ9.8peAq7kTQyvXShlVv1K82w';
  // L.mapbox.accessToken = '<%= Rails.application.secrets.mapbox_token %>';
  // L.mapbox.accessToken = "ENV['mapbox_token']";
  var map = L.mapbox.map('map', 'cluhring.lc04leg6')

  map.locate();

  function onLocationFound(e) {
  var radius = e.accuracy / 2;
  var current_lat = e.latlng.lat;
  var current_long = e.latlng.lng;

  $.ajax ({
    data: { latitude1: current_lat, longitude1: current_long, latitude2: <%= session[:latitude] %>, longitude2: <%= session[:longitude] %> },
    type: 'post',
    url: '/stations'
  });
  L.marker(e.latlng).addTo(map)
  .bindPopup("You are here").openPopup();

  L.circle(e.latlng, radius).addTo(map);
  }

  map.on('locationfound', onLocationFound);

  </script>
</div>
