<div class="header">
<div class="row">
  <div class= "container col-md-3" id='logo'>
    <h3>
      <a id="navbar-left" class="navbar-collapse collapse" href="/">Flux Capacitor</a>
    </h3>
    <%= image_tag "green_car5.jpg" %>
  </div>
  <div class="col-md-9">
  </div>
</div>
</div>
